<header>
    <nav>
        <div class="container-logo">
            <a href="/home">
                <img class="logo" src="/images/LOGO.png" alt="">
            </a>
        </div>
        <ul>
            <li>
                <a href="/home">HOME</a>
            </li>
            <li>
                <a href="/products">PRODUCTOS</a>
            </li>

            <% if (locals.isLogged) { %>
                <li>
                    <a href="/cart">CARRITO</a>
                </li>
                <li>
                    <a href="/users/logout">LOG OUT</a>
                </li>
                <% } else { %>

                    <li>
                        <a href="/users/register">REGÍSTRATE</a>
                    </li>
                    <li>
                        <a href="/users/logIn">LOGIN</a>
                    </li>
                    <% } %>
                 <!-- 
                    <li class="search-icon">
                            <input type="search" placeholder="Buscar">
                            <span class="fas fa-search"></span>

                        </li>//-->

                        <a class="boton-mobile" href="">
                            <i class="fas fa-bars"></i>
                        </a>
        </ul>
    </nav>
</header>