
<header>
    <nav>
        <div class="container-logo">
            <img class="logo" src="images/LOGO.png" alt="">
        </div>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Nosotros</a>
            </li>
            <li>
                <a href="">Productos</a>
            </li>
            <li>
                <a href="">Contacto</a>
            </li>
<li class="search-icon">
    <input type="search" placeholder="Buscar">
    <span class="fas fa-search"></span>

</li>
        
        <a class="boton-mobile" href="">
            <i class="fas fa-bars"></i>
        </a>
    </ul>
    </nav>
</header>
