<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styleCarrito.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  <title>Carrito</title>
</head>
<body>
  <div class="container">
      <h1>Carrito de Compras</h1>
        <div class="carrito">
          <div class="productos">
            <div class="producto">
                <img src="jean.mujer.jpg">    
            <div class="detalles-producto">
                  <h3 class="nombre-producto">Prenda 1</h3>
                  <h2 class="precio-producto">500$</h2>
                  <h2 class="oferta-producto">50%</h2>
                  <p class="cantidad">Cantidad: <input value="1" name="">
                <p class="borrar-producto">
                 <i class="fas fa-trash"></i>
                 <span class="borrar">borrar</span>
                </div>
            </div>

          </div>

          <div class="total"></div>


      </div>

  </div>


</body>
</html>