<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styleCarrito.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  <title>Carrito</title>
</head>
<body>
  <div class="container">
      <h1>Carrito de Compras</h1>
        <div class="carrito">
          <div class="productos">
            <div class="producto">
                <img src="images/prenda1.jpg">    
            <div class="detalles-producto">
                  <h2 class="nombre-producto">Short Nike M</h2>
                  <h3 class="precio-producto">1500$</h3>
                  <h4 class="oferta-producto">30%</h4>
                  <p class="cantidad">Cantidad: <input value="1" name="">
                <p class="borrar-producto">
                 <i class="fas fa-trash"></i>
                 <span class="borrar">Borrar</span>
                </div>
            </div>

            <div class="producto">
              <img src="images/prenda2.jpg">    
          <div class="detalles-producto">
                <h2 class="nombre-producto">Hoodie Rogue XXL</h2>
                <h3 class="precio-producto">2800$</h3>
                <h4 class="oferta-producto">15%</h4>
                <p class="cantidad">Cantidad: <input value="1" name="">
              <p class="borrar-producto">
               <i class="fas fa-trash"></i>
               <span class="borrar">Borrar</span>
              </div>
          </div>


          </div>

          <div class="total">
            <p>
              <span> Total</span>
              <span>$4300</span>
            </p>
            <p>
              <span>Número de Items</span>
              <span>2 </span>

            </p>

            <a href="#">Checkout</a>
            


          </div>


      </div>

  </div>


</body>
</html>