<%- include('partials/head')%>
    <%- include('partials/header')%>
        <main>
            <div class="ver contenedor">
                <div class="cajaMujer">
                    <img class="fotoMujer" src="\images\mono.jpg" alt="">
                    <div class="mujer">Ver mujer</div>
                </div>
                <div class="cajaHombre">
                    <img class="fotoHombre" src="\images\chaleco.jean.hombre.jpg" alt="">
                    <div class="hombre">Ver hombre</div>
                </div>

            </div>

            <div class="productos">
                <h2 class="oferta">Ofertas</h2>
                <div class="contenedor productos">

                    <article>

                        <img class="fotoProducto" src="/images/mono.jpg" alt="">
                        <h3 class="nombreProducto">Nombre producto</h3>
                        <div class="agregarCarrito">Agregar al carrito</div>
                    </article>

                    <article>
                        <img class="fotoProducto" src="\images\remera.london.hombre.jpg" alt="">
                        <h3 class="nombreProducto">Nombre producto</h3>
                        <div class="agregarCarrito">Agregar al carrito</div>
                    </article>

                    <article>
                        <img class="fotoProducto" src="\images\chaleco.jean.hombre.jpg" alt="">
                        <h3 class="nombreProducto">Nombre producto</h3>
                        <div class="agregarCarrito">Agregar al carrito</div>
                    </article>

                </div>


            </div>
            <div class="mapa">
                <div class="mapa-conteiner"> <label for="mapa"> Nuestras sucursales</label>
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="580" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=mosconi%203456&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:580px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:580px;}</style></div></div>
                </div>
    </div>
        </main>
        <%- include('partials/footer')%>