<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="StyleSheet" href="/css/styles.css">
</head>
<body>
    <header></header>


    <section>
        
        <div id="carrusel">
            <a href="#" class="left-arrow"><img src="" /></a>
            <a href="#" class="right-arrow"><img src="/images/right-arrow" /></a>
            <div class="carrusel">
                <div class="product" id="product_0">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 1</h5>
                    <p> precio</p>
                </div>
                <div class="product" id="product_1">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 2</h5>
                    <p>precio</p>
                </div>
                <div class="product" id="product_2">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 3</h5>
                    <p>precio</p>
                </div>
                <div class="product" id="product_3">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 4</h5>
                    <p>precio</p>
                </div>
                <div class="product" id="product_4">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 5</h5>
                    <p>precio</p>
                </div>
                <div class="product" id="product_5">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 6</h5>
                    <p>precio</p>
                </div>
            </div>
        </div>

        <div>

        </div>

    
        
    </section>


    <footer></footer>


</body>
</html>