<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style-intro.css">
   
</head>

<body>

    <div class="container-intro">
                <div class="menu-intro">
                    <div class="intro-empty"> 
            <img class="img-responsive1" src="/images/Chabon.jpg" alt="" >
        </div>
        </div><!--
       --><div class="menu-intro">
            <img class="img-responsive2"src="/images/minita.jpg" alt="">

        </div>



    </div>

</body>

</html>