

<%- include('partials/head')%>
<%- include('partials/header')%>

<div class="titulo-pagina"> 
    <div class="contenedor-titulo"> 
    <h1>Ingresa</h1>
    </div>
    </div>

<section class="form-login">
    <h4> Bienvenid@ a SIN</h4>
    <form action= "auth/login" method= "POST">
        <div >
            
            <input class="input-login" type= "email" name= "email" id= "email" placeholder= "Ingresa tu Email">
        </div>
        <div >
            
            <input class="input-login" type= "password" name= "password" id= "contraseña" placeholder="Ingresa tu contraseña">
        </div>
        <button class="button" type= "submit"> Iniciar Sesión </button>
       <div class="checkbox">
        <input type="checkbox"> <label for="remember">Recuerdame</label>
       </div>
       <div class="restore">
        <a href= "#" class="link-login"> ¿Olvidaste tu contraseña? </a>
       </div>
    </form>
   
   </section>
   

<%- include('partials/footer')%>


