<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="/css/stylesProduct.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <header>
      <nav>
          <div class="container-logo">
              <img class="logo" src="images/LOGO.png" alt="">
          </div>
          <ul>
              <li>
                  <a href="">LINK</a>
              </li>
              <li>
                  <a href="">LINK</a>
              </li>
              <li>
                  <a href="">LINK</a>
              </li>
              <li>
                  <a href="">LINK</a>
              </li>
          </ul>
          <a class="boton-mobile" href="">
              <i class="fas fa-bars"></i>
          </a>
      </nav>
  </header>
    <main>     
       <div class="contenido">
                   
      <div class="caja">
       <div class="img">
        <div class="img1"><img src="/images/mono.jpg" height="150" width="90" alt=""></div>
        <img src="/images/jean.mujer.jpg" height="150" alt="">
        <div class="img3"><img src="/images/jean.mujer.jpg" height="150" alt=""></div>
      </div>
      </div>
      <div class="caja">
                    <div class="img-full"> <img src="/images/jean.mujer.jpg"  height="400" width="400" alt=""></div> 
                    </div>

      <div class="caja">
    <div class="producto">
        <h3>Nombre del producto</h3>
                   <h5>Precio</h5>
                           <div class="descripcion-producto"> <h4>Descripcion del producto</h4>
                            <label>Colores<br>
                            <input type= "radio" name= "color1"> Color 1
                            <input type= "radio" name= "color2"> Color 2
                            <input type= "radio" name= "color3"> Color 3
                            </label>
                            <label>Talles<br>
                                <input type= "radio" name= "talle1"> Talle 1
                                <input type= "radio" name= "talle2"> Talle 2
                                <input type= "radio" name= "talle3"> Talle 3
                                </label> <br>
                              </div>
                             
                               <div class="botones">
                              <button type= "submit">AGREGAR AL CARRITO</button>
                            <select name="Formas-de-pago">
                      
                                <option>Tarjeta de crédito</option>
                                
                                <option>Mercado Pago</option>
                                
                                <option>Transferencia</option>
                                
                                </select>
                            
                            <select name="Metodos-de-envio">
                      
                                <option>opcion 1</option>
                                
                                <option>opcion 2</option>
                                
                                <option>opcion 3</option>
                                
                                </select>
                              </div>
     </div>
          </div>
                           
          </div>                                             
 
    </main>
    <footer>
      <div class="container-footer-all">
          <div class="container-body">
              <div class="column1">
                  <h1>SIN indumentaria</h1>
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis fugit officia ab eligendi
                      impedit
                      rem itaque ex rerum ipsum deserunt cum aliquam consequatur aperiam perspiciatis, optio ducimus
                      culpa
                      alias magnam!</p>
              </div>
              <div class="column2">
                  <h1>Nuestras redes</h1>
                  <div class="row">

                      <label>
                       
                              Siguenos en Facebook</label>
                              <a href="#" class="bar-button"><i class="fa fa-facebook-official"></i></a>
                  </div>
                  
                  <div class="row">

                      <label>
                          <i class="fab fa-instagram-square"></i>
                          Siguenos en Instagram</label>
                  </div>

                  <div class="row">

                      <label>
                          <i class="fab fa-pinterest"></i>
                          Siguenos en Pinterest</label>
                  </div>

              </div>

              <div class="column3">
                  <h1>Información Contactos</h1>
                  <div class="row2">
                      <label><i class="fas fa-map-marker-alt"></i>

                          Av. Saraza 1563-Buenos Aires - Argentina
                      </label>

                      <div class="row2">
                          <label>
                              <i class="fas fa-phone-square-alt"></i>
                              +541166312005</label>

                      </div>

                      <div class="row2">

                          <label>
                              <i class="far fa-envelope"></i>
                              Sindumentaria@gmail.com</label>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <div class="container-footer">
          <div class="copyright">
              @2021 Todos los derechos reservados
          </div>

  </footer>

  
     
  </body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

     </body>
</html>