<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stylesProduct.css">
  <link rel="StyleSheet" href="/css/normalize.css">
  <title>Document</title>
</head>
<body>
  
    <div class="todo">
     
      <div class= "lado-i">
         <div class="foto1">
           <img src="https://" alt="fotos" class="fotos">
      </div>
      <div class= foto1>
        <img src="https://" alt="fotos" class="fotos">
     </div>
     <div class= foto1>
      <img src="https://" alt="fotos" class="fotos">
   </div>
      </div>
      
     
       <div class="center">
    <div class="foto2">
       <img src="https://" alt="fotos" class="foto-principal">
     
    </div>
  </div>
  <div class="lado-d">
    <div class= "info-producto">
      <h3>Nombre del producto</h3>
      <p>Precio</p>
      <p>Descripcion del producto</p>
      <label>Colores
      <input type= "radio" name= "color1"> Color 1
      <input type= "radio" name= "color2"> Color 2
      <input type= "radio" name= "color3"> Color 3
      </label>
      <label>Talles
          <input type= "radio" name= "talle1"> Talle 1
          <input type= "radio" name= "talle2"> Talle 2
          <input type= "radio" name= "talle3"> Talle 3
          </label> 
      <button type= "submit">AGREGAR AL CARRITO</button>
      <select name="Formas-de-pago">

          <option>Tarjeta de crédito</option>
          
          <option>Mercado Pago</option>
          
          <option>Transferencia</option>
          
          </select>
      
      <select name="Metodos-de-envio">

          <option>opcion 1</option>
          
          <option>opcion 2</option>
          
          <option>opcion 3</option>
          
          </select>
      

  </div>
    </div>
</body>
</html>