
*{
  font-family: LATO, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/*
HOME
*/

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 300px;
  }

  ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
   
    opacity: 0;
    width: inherit;
    height: inherit;
    transition:opacity .5s;
      }

      ul.slider li img{
        width: 100%;
        height: 300px;
        object-fit: cover;
      }


      ul.slider li:first-child{
        opacity: 1;
      }

      
ul.slider li:target{
  opacity: 1;
}






.menu-slide{
  text-align: center;
  margin: 20px;
  margin-top: 20px;
  }

  .menu-slide li{
    display: inline-block;
    text-align:center;
  }

      .menu-slide li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: gray;
        padding: 10px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        border-radius: 100%;
        cursor: pointer;
      }

      .fade-carousel {
        position: relative;
        height: 100vh;
    }
    .fade-carousel .carousel-inner .item {
        height: 100vh;
    }
    .fade-carousel .carousel-indicators > li {
        margin: 0 2px;
        background-color: #f39c12;
        border-color: #f39c12;
        opacity: .7;
    }
    .fade-carousel .carousel-indicators > li.active {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    
    /********************************/
    /*          Hero Headers        */
    /********************************/
    .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0,0,0,.75);
          -webkit-transform: translate3d(-50%,-50%,0);
             -moz-transform: translate3d(-50%,-50%,0);
              -ms-transform: translate3d(-50%,-50%,0);
               -o-transform: translate3d(-50%,-50%,0);
                  transform: translate3d(-50%,-50%,0);
    }
    .hero h1 {
        font-size: 6em;    
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    
    .fade-carousel .carousel-inner .item .hero {
        opacity: 0;
        -webkit-transition: 2s all ease-in-out .1s;
           -moz-transition: 2s all ease-in-out .1s; 
            -ms-transition: 2s all ease-in-out .1s; 
             -o-transition: 2s all ease-in-out .1s; 
                transition: 2s all ease-in-out .1s; 
    }
    .fade-carousel .carousel-inner .item.active .hero {
        opacity: 1;
        -webkit-transition: 2s all ease-in-out .1s;
           -moz-transition: 2s all ease-in-out .1s; 
            -ms-transition: 2s all ease-in-out .1s; 
             -o-transition: 2s all ease-in-out .1s; 
                transition: 2s all ease-in-out .1s;    
    }
    
    /********************************/
    /*            Overlay           */
    /********************************/
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #080d15;
        opacity: .7;
        margin-top: 30px;
        margin-bottom: 10px;
        
    }
    
    /********************************/
    /*          Custom Buttons      */
    /********************************/
    .btn.btn-lg {padding: 10px 40px;}
    .btn.btn-hero,
    .btn.btn-hero:hover,
    .btn.btn-hero:focus {
        color: #f5f5f5;
        background-color: #1abc9c;
        border-color: #1abc9c;
        outline: none;
        margin: 20px auto;
    }
    
    /********************************/
    /*       Slides backgrounds     */
    /********************************/
    .fade-carousel .slides .slide-1, 
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
      height: 100vh;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 30px;
   
    }
    .fade-carousel .slides .slide-1 {
      background-image:url("/images/Chabon.jpg") }
    
  
      .fade-carousel .slides .slide-2 {
      background-image:url('/images/prenda2.jpg')
    }
    .fade-carousel .slides .slide-3 {
      background-image:url('/images/minita.jpg')
    }
    
    /********************************/
    /*          Media Queries       */
    /********************************/
    @media screen and (min-width: 980px){
        .hero { width: 980px; }    
    }
    @media screen and (max-width: 640px){
        .hero h1 { font-size: 4em; }    
    }
/*
HEADER
*/
    
    header{
        width: 100%;
        background: rgb(134, 134, 134);
        height: 70px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    }
    
    header nav{
        width: 80%;
        display: block;
        margin: 0 auto;
        height:100%;
        position: relative;
    }
    
    header .container-logo{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        height:100%;
    }
    
    header .container-logo .logo{
        max-width: 200px;
        padding: 5px 0;
        margin: 5px auto;
       text-align: center;
       vertical-align: middle;
    }
    
    header ul{
        display: inline-block;
        vertical-align: middle;
        width: 49%;
        padding: 0;
        margin: auto;
        text-align: right;
    
    }
    
    header ul li{
        display: inline;
        margin: 0 15px;
    } 
    
    header ul li a{
      margin: 10px, auto;
    display:inline-block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: LATO, sans-serif;
    text-decoration: none;
    transition: all 500ms ease;
    }
    
    header ul li a:hover{
        color:#69D1E2;
        border-bottom: 4px solid #DD4F4F;
        border-top: 4px solid #DD4F4F;
    }
    
    header .boton-mobile{
        display: none;
    }
    
    @media (max-width: 1080px){ 
        header .boton-mobile{
            display: inline;
            color: white;
            font-weight: 600;
            font-size: 2em;
            position: absolute;
            top: 18px;
            right: 0;
        }
        
        header ul{
            display: none;
        }
    
        header .container-logo {
          
            display: block;
            width: 100%;
            text-align: center;
        }
    
    }
    





/*
FOOTER
*/    
footer{
  position: relative;
  bottom: 0;
 }
 .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  
  padding: 55px 50px;
  margin-top: 80px;
 }
  
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }
  
 .footer-distributed .footer-left{
  width: 40%;
 }
  
 .footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }
  
 .footer-distributed h3 span{
  color:  #69D1E2;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }
  
  
 .footer-distributed .footer-center{
  width: 35%;
 }
  
 .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  
 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
  
 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }
  
 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }
  
 .footer-distributed .footer-center p a{
  color:  #69D1E2;
  text-decoration: none;;
 }
  
 .footer-distributed .footer-right{
  width: 20%;
 }
  
 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }
  
 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 25px;
 }
  
 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
 }
  
  
 @media (max-width: 880px) {
  
  .footer-distributed{
  font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  position:relative;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i{
  margin-left: 0;
  }
  .main {
  line-height: normal;
  font-size: auto;
  }
  
 }




/*
PRODUCT DETAIL
*/


img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

  .red{
    background: red;
  }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }






/*
CARRITO
*/


.contenedor-titulo{
  background-color: rgba(33, 33, 33, 0.03);
  width: 100%;
  padding: 30px 30px;
  margin-bottom: 20px;;
  
}
.contenedor-titulo h1{
 font-family: LATO;
  padding-left: 100px;
}


  
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

  .titulo-pagina{
    max-width: 100%;
    margin: 0 auto;
  }
  
  .container h1{
    padding: 20px 0; 
  }
  
  .carrito{
    display: flex;
  }
  .productos{
    flex: 0.75; 
    
  }
  
  
  .producto{
    display: flex;
    width: 100%;
    height: 210px;
    overflow: hn;
    border: 1px solid silver;
    padding: 5px;
    margin-bottom: 20px;
    background-color: white;
  }
  
  .producto:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
    transform: scale(1.01);
  }
  
  .producto img{
    width: 200px;
    height: 170px;
    object-fit: scale-down;
  }
  
  .producto img:hover{
  transform: scale(1.08);
  }
  
  .detalles-producto{
    padding: 0px;
    width: 100%;
    position: relative;
    }
  
    .nombre-producto{
      margin-bottom: 20px;
    }
  
    .nombre-producto, .precio-producto, .oferta-producto{
      margin-bottom: 20px;
    }
  
    .borrar-producto{
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding: 10px 25px;
    background-color: #DD4F4F;
    color: white;
    cursor: pointer;
    border-radius: 5px;
      }
  
      .borrar-producto:hover{
        background-color: white;
        color: #DD4F4F;
        font-weight: 600;
        border: 1px solid #DD4F4F;
      }
  
      .cantidad input{
  width: 35px;
  padding: 2px;
  text-align: center;
  
      }
  
      .fa{
        margin-right: 5px;
      }
  
      .oferta-producto{
        border: 1px solid;
        border-radius: 5px;
        color: white;
        background-color: green;
        width: 50px;
        height: 30px;
        padding: 5px;
      }
  
      .total{
        flex: 0.25;
        margin-left: 20px;
        padding: 16px;
        height: 180px;
        border: 1px solid silver;
        border-radius: 5px;
      }
  
      .total p{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 20px;
      }
  
      .total .button{
        width: 100%;
      
        cursor: pointer;
        background: #DD4F4F ; /* color de fondo */
        color: white; /* color de fuente */
        border: 0px solid #DD4F4F; /* tamaño y color de borde */
        padding: 16px 20px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
    
    }
    
    .total .button::after {
      content: "";
      background: #69D1E2; /* color de fondo hover */
      position: absolute;
      z-index: -1;
      padding: 16px 20px;
      display: block;
      top: 0;
      bottom: 0;
      left: -100%;
      right: 100%;
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
    }
    
    .total .button:hover::after{
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
    }




  
  
  
  
      @media (max-width :500px){
        .borrar{
          display:none;
        }
        .producto{
          height: 180px;
        }
        .producto img{
          height: 150px;
          width: 200px;
        }
        .nombre-producto, .precio-producto{
          margin-bottom: 10px;
        }
      }
  
  
  @media (max-width:850px){
    .carrito{
     flex-direction: column;
    }

    .contenedor-titulo h1{
      margin: auto;
        
       }
  
    .total{
      margin-left: 0;
      margin-bottom: 20px ;
    }
           .contenedor-titulo h1{
            display: flex;
            justify-content: center; 
            padding:0px
             }
  
  }
  @media (max-width :1220px){
        .container{
          max-width: 95%;
        }
 
      }






/*
FORMULARIO LOGIN
*/


.form-login{
  
  display: flex;
  flex-direction: column;
    width: 30%;
    padding: 20px 24px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
    border: 1px solid silver;
    font-family: Arial, Helvetica, sans-serif;
}

.form-login h4{
  font-size: 25px;
    margin: 0;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 28px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

.input-login{
    width: 100%;
    height: 50px;
    padding: 5px 5px;
    border: 0px ;
    margin-bottom: 12px;
    border: 1px solid silver;

}

.form-login .button{
    width: 100%;
  
    cursor: pointer;
    background: #DD4F4F ; /* color de fondo */
    color: white; /* color de fuente */
    border: 0px solid #DD4F4F; /* tamaño y color de borde */
    padding: 16px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;

}

.form-login .button::after {
  content: "";
  background: #69D1E2; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.form-login .button:hover::after{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}


.form-login .link-login{
    font-size: 13px; 
    text-align: center;
    text-decoration: none;
}

.form-login .checkbox{
  margin-left: 20px;
margin-top: 10px;}


.form-login .restore{
  margin: 20px auto;
  margin-right: 20px;
  
}

.form-login .checkbox label{
  margin-left: -20px;
}


@media (max-width:500px){
  .form-login{
      width: 100vw;
    margin: 0;
padding: 0;
flex-direction: column;
box-shadow: none;
border: none;
font-size: 0.75rem;
      
  }

  .input-login{
    width: 100%;
  }
  .form-login .restore{
    margin: 10px 100px ;
  }

  .form-login .checkbox{
margin: 10px 15px; }
}



@media (max-width:700px){
  .form-login{
  
     width: 60%;
    
  margin: 20px auto;
}
  }

  @media (max-width:1250px){
    .form-login{
    
       width: 50%;
      
   
  }
  .form-register{
    
    width: 50%;
    }
  
  }

  .container-intro{
    display: block;
    width: 100%;
  }
  
  .container-intro .menu-intro{
  display: inline-block;
  width: 49%;
  
  }




/*
FORMULARIO REGISTRO
*/

img[title="avatar"]{
	border-radius:50%;
	width:90px;
}

img{
	display:block;
	margin:1em auto 2em;
}

.text-danger {
  margin-bottom: 30px;
}

::-webkit-input-placeholder {
  font-style: italic;
}


.form-register{
  font-size: 14px;
  display: flex;
  flex-direction: column;
    width: 40%;
    padding: 20px 24px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
    border: 1px solid silver;
    font-family: Arial, Helvetica, sans-serif;
}

.form-register h4{
  font-size: 25px;
    margin: 0;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 28px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

.form-register .button{
  width: 100%;
  margin-bottom: 25px;
  height: 50px;
  background-color: #DD4F4F;
  color: white;
  border: 1px solid silver;
  cursor: pointer;
}

.form-register .input-register{
  width: 100%;
    height: 50px;
    padding: 5px 5px;
    border: 0px ;
    margin-bottom: 17px;
    border: 1px solid silver;
    
}

.form-register .button-register{
  width: 100%;
    height: 50px;
    padding: 5px 5px;
    border: 0px ;
    margin-bottom: 12px;
    color: white;
    background-color: #DD4F4F;
    cursor: pointer;
    
}

.form-register .button-register{
  width: 100%;

  cursor: pointer;
  background: #DD4F4F ; /* color de fondo */
  color: white; /* color de fuente */
  border: 0px solid #DD4F4F; /* tamaño y color de borde */
  padding: 16px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;

}

.form-register .button-register::after {
content: "";
background: #69D1E2; /* color de fondo hover */
position: absolute;
z-index: -1;
padding: 16px 20px;
display: block;
top: 0;
bottom: 0;
left: -100%;
right: 100%;
-webkit-transition: all 0.35s;
transition: all 0.35s;
}

.form-register .button-register:hover::after{
left: 0;
right: 0;
top: 0;
bottom: 0;
-webkit-transition: all 0.35s;
transition: all 0.35s;
}




@media (max-width:1220px){
  .form-register{
      width: 90%;
      position: relative;
      padding: 20px 24px;
    margin: 50px auto;
         

  }


  
  @media (max-width:920px){
    .form-register{
        width: 50%;
        position: relative;
           
    }

    .form-register .button-register{
     
        padding: 5px 5px;
     margin: auto;
      
       
        
    }



#form2 {
  font-size: 20px;
margin: auto;
padding: 5px;
}


  .form-register{
      width: 100vw;
    margin: 0;
padding: 0;
flex-direction: column;
box-shadow: none;
border: none;
font-size: 0.75rem;
      
  }
}



  








/*
FORMULARIO CARGA



*{
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
main{
  background-color: #dfdfdf;
  margin: 0 !important;
}
.contenedor_carga{
  display: flex;
  
}


.createForm{
  padding: 20px 15px;
}
.controlFormulario{
  margin-bottom: 15px;
}
.controlFormulario label{
  margin-bottom: 15px;
  display: block;
}
.control{
  width: 100%;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}
.perfilDeUsuaro{
  display: span;
}
.controlFormulario div{
  margin: 20px;
}
.controlFormulario div label{
  margin-left: 10px;
}
#nacimientos{
  margin-bottom: 50px;
}
#foto h3{
  display: block;
}
#foto input{
  display: block;
  
  width: 100%;
}


.button{
  background-color: #03264C;
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 5px 10px;

}


*/

/*
INTRO
*/


.container-intro{
  display: block;
  width: 100%;
}

.container-intro .menu-intro{
display: inline-block;
width: 49%;
}