* {
    box-sizing: border-box;

}
/*
#carrusel {
    float:left;
    width:600px;
    overflow:hidden;
    height:203px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}

#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}

#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
.carrusel {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
  
.carrusel>div {
    float: left;
    height: 203px;
    margin-right: 5px;
    width: 195px;
    text-align:center;
}
 
.carrusel img {
    cursor:pointer;
}
 
.product {
    border:#CCCCCC 1px solid;
}
*/
main{
    margin: 15px 50px;
}
.contenedor{
    display: flex;
}

/*
VER
*/
.ver{
    justify-content: space-between;
    position: relative;
    height: 821px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}
.cajaMujer{
    width: 50%;
    
    
    position: relative;
}
.cajaHombre{
    width: 50%;
    
    
    position: relative;
}
.fotoMujer{
    width: 100%;
    height: 100%;
}
.fotoHombre{
    width: 100%;
    height: 100%;
}
.hombre{
    position: absolute;
    left:  15px;
    bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    background-color: black;
    border-radius: 15px;
    padding: 6px 12px;
    color: white;
    
}
.mujer{
    position: absolute;
    right: 21px;
    bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    background-color: black;
    border-radius: 15px;
    padding: 6px 12px;
    color: white;
}




/*
VER
*/

/*
PRODUCTOS
*/
.productos{
    justify-content: space-between;
}

 .productos article{
     width: 30%;
     box-shadow: 0px 0px 10px rgb(100 100 100);
 } 
 .oferta{

   text-align: center;
   margin: 25px auto;
 }
 .fotoProducto{
     width: 100%;
     height: 600px;
 }
 .nombreProducto{
    text-align: center;
}
.agregarCarrito{
    text-align: center;
    border: solid;
    border-radius:20px;
    background-color: lightskyblue;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}
/*
PRODUCTOS
*/